.container {
  width: 400px;
  height: 35px;
  border-radius: var(--borderRadius);
  border: var(--borderStyle);
  padding: calc(2 * var(--paddingDefault));
  font-size: var(--inputFontSize);
}

.container:hover {
  border: var(--borderHover);
  box-shadow: var(--boxShadow);
  /* box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(158, 145, 145, 0.08) 0px 1px 0px inset; */
}
